<div class="max-w-lg mx-auto mt-16 text-center">
  <h1 class="mb-4 text-3xl font-black">We Have Lift Off! &#57613</h1>
  <p class="text-lg leading-snug">Welcome to your brand new Modern Rails app.</p>
</div>
